.TopCard{
    margin-top:20px; 
    margin-bottom:20px;
    width:346px; 
    height:435px; 
    border-radius:5px; 
    box-shadow:0 4px 4px 0 rgba(0 0 0 0.1)  ; 
    border:solid 1px #d6d6d6 ;
    background-color:#ffffff
}
.TopCardImg{
    width:70px; 
    height:70px; 
    margin-right:10px;
}
.TopDiv{
    color:blue; 
    text-align:center;  
    padding:10px;
}

.SuggestionCard{
    margin-top:20px; 
    margin-bottom:20px;
    width:346px; 
    height:435px; 
    border-radius:5px; 
    box-shadow:0 4px 4px 0 rgba(0 0 0 0.1)  ; 
    border:solid 1px #d6d6d6 ;
    background-color: #ffffff;
}
.SuggestionCardh3{
    height:24px; 
    margin-bottom:30px; 
    color:#2e2e2e; 
    font-size:20px
}
.SugestionNama{
    color:#414141; 
    text-align:left;
    padding-top:20px; 
    font-size:18px; 
    margin-left:10px
}
.SugestionDivButton{
    text-align:left;
    padding-top:10px; 
    margin-left:5px;
}
.SugestionBtn{
    width: 30px;
    height: 30px;
    border-radius: 99px;
    background-color: #2e4ffc; 
}
.SugestionDivSee{
    color:#2e4ffc; 
    text-align:center; 
    padding:10px; 
    font-size:18px; 
    font-family: roboto;
}
.NotifCard{
    margin-top:40px; 
    width:470px; 
    height:392px; 
    border-radius:5px; 
    box-shadow:0 4px 4px 0 rgba(0 0 0 0.1); 
    background-color:#ffffff
}
.NotifCardImg{
    width:60px; 
    height:60px; 
    margin-right:40px; 
    border-radius:50%;
}
.MainCard2{
    margin-top:40px; 
    width:725px; 
    height:auto; 
    border-radius:7px; 
    box-shadow:0 4px 4px 0 rgba(0 0 0 0.1)
}
.MainCardMediaNama{
    height:33px; 
    font-size:28px; 
    margin-bottom:6px ;
}
.MainCardBtnFollow{
    width: 120px; 
    padding:5px; 
    height: 35px; 
    margin-top:30px; 
    border-radius: 99px;
    background-color: #2e4ffc; 
    font-family: Roboto; 
    font-size: 16px; 
    font-weight: 500; 
    font-style: normal; 
    font-stretch: normal; 
    line-height: normal; 
    letter-spacing: normal; 
    color: #ffffff;
}
.MainCardCategories{
    height:66px; 
    font-size:28px; 
    color:#2e2e2e ;
}
.MainCardInputComment{
    background-color:#ededed; 
    color:#626262;  
    height:50px; 
    width:665px; 
    border-radius:30px;
}
.MainCardCommentCardImg{
    border-radius:50%; 
    width:70px; 
    height:70px; 
    margin-right:22px;
}
.MainCardCommentNama{
    color:#1d1d1d;  
    font-size:22px; 
    height:26px;
    font-family: roboto;
    text-align:left;
    padding-top:20px; 
    font-size:18px
}
.MainCardCommentSmall{
    margin-left:13px;
    color:#8c8c8c;  
    font-size:16px; 
    height:19px;
    font-family: roboto;  
    font-weight:300 ;
}
.MainCardTitle{
    height:24px; 
    margin-bottom:15px; 
    margin-top:15px; 
    color:#626262; 
    font-size:20px
}
.AddMediaList{
    font-family: roboto;  
    background-color: #1d1d1d;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #838383
}
.AddMediaListGroup{
    background-color:#414141;
    font-family: roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff
}
.AddMediaCardImg{
    width: 25px;
    height: 25px;
    object-Fit: contain;
}
.AddMedia2{
    width: 140px; 
    margin-left:20px; 
    text-align:center;
    height: 22px; 
    margin-top:5px; 
    font-family: roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff
}


